/* cyrillic-ext */
// @font-face {
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh0NSDulI.woff2)
//     format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
//     U+FE2E-FE2F;
// }
/* cyrillic */
// @font-face {
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh2dSDulI.woff2)
//     format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* greek-ext */
// @font-face {
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh0dSDulI.woff2)
//     format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
/* greek */
// @font-face {
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh3tSDulI.woff2)
//     format('woff2');
//   unicode-range: U+0370-03FF;
// }
/* latin-ext */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh09SDulI.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9NCBsR6Z2vfE9aq3bh3dSD.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* vietnamese */
// @font-face {
//   font-family: 'Josefin Sans';
//   font-style: italic;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3EZQNVED7rKGKxtqIqX5EUCEx1XHgciw.woff2)
//     format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
//     U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3EZQNVED7rKGKxtqIqX5EUCEx0XHgciw.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3EZQNVED7rKGKxtqIqX5EUCEx6XHg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* vietnamese */
// @font-face {
//   font-family: 'Josefin Sans';
//   font-style: normal;
//   font-weight: 300 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3aZQNVED7rKGKxtqIqX5EUAnx4RHw.woff2)
//     format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
//     U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
/* latin-ext */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3aZQNVED7rKGKxtqIqX5EUA3x4RHw.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinsans/v15/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
// @font-face {
//   font-family: 'Literata';
//   font-style: italic;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1FrMdmgPn.woff2)
//     format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* greek-ext */
// @font-face {
//   font-family: 'Literata';
//   font-style: italic;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1FrsdmgPn.woff2)
//     format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
/* greek */
// @font-face {
//   font-family: 'Literata';
//   font-style: italic;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1FrQdmgPn.woff2)
//     format('woff2');
//   unicode-range: U+0370-03FF;
// }
/* vietnamese */
// @font-face {
//   font-family: 'Literata';
//   font-style: italic;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1FrgdmgPn.woff2)
//     format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
//     U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
/* latin-ext */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1FrkdmgPn.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or3nQ6P12-iJxAIgLYT1Frcdmg.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic */
// @font-face {
//   font-family: 'Literata';
//   font-style: normal;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYT0JrUFng.woff2)
//     format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* greek-ext */
// @font-face {
//   font-family: 'Literata';
//   font-style: normal;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYT8JrUFng.woff2)
//     format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
/* greek */
// @font-face {
//   font-family: 'Literata';
//   font-style: normal;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYTzJrUFng.woff2)
//     format('woff2');
//   unicode-range: U+0370-03FF;
// }
/* vietnamese */
// @font-face {
//   font-family: 'Literata';
//   font-style: normal;
//   font-weight: 400 700;
//   font-display: swap;
//   src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYT_JrUFng.woff2)
//     format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
//     U+01AF-01B0, U+1EA0-1EF9, U+20AB;
// }
/* latin-ext */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYT-JrUFng.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/literata/v15/or3hQ6P12-iJxAIgLYTwJrU.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
