// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,300..700;1,300..700&family=Literata:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /* FONTS */
  /* --font-body: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-heading: "Barlow Condensed", "Helvetica", sans-serif;
  --font-monospace: "Menlo", "Courier", "Courier New", "Andale Mono", monospace; */
  --font-body: 'Literata', serif;
  --font-heading: 'Josefin Sans', sans-serif;
  --font-monospace: 'Fira Code', monospace;

  font-display: swap;
}

* {
  font-family: 'Literata', serif;
  font-family: var(--font-body, 'Literata', serif);
  /* font-weight: 400;
  font-variation-settings: "wght" 450 */
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--font-heading, 'Josefin Sans', sans-serif);
}

tt,
code,
kbd,
pre,
samp {
  font-family: 'Fira Code', monospace;
  font-family: var(--font-monospace, 'Fira Code', monospace);
}
