// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,300..700;1,300..700&family=Literata:ital,wght@0,400..700;1,400..700&display=swap');
// NOTE: can use 'text' param in url
// abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 !:/;.,?-"'()[]&éèàçêë€$£ç
// URL encoded becomes
// abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789%20%21%3A%2F%3B.%2C%3F-%22%27%28%29%5B%5D%26%C3%A9%C3%A8%C3%A0%C3%A7%C3%AA%C3%AB%E2%82%AC%24%C2%A3%C3%A7
// EX
// https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789%20%21%3A%2F%3B.%2C%3F-%22%27%28%29%5B%5D%26%C3%A9%C3%A8%C3%A0%C3%A7%C3%AA%C3%AB%E2%82%AC%24%C2%A3%C3%A7

:root {
  /* FONTS */
  /* --font-body: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-heading: "Barlow Condensed", "Helvetica", sans-serif;
  --font-mono: "Menlo", "Courier", "Courier New", "Andale Mono", monospace; */
  --font-body: #{$font-body-fallback};
  --font-heading: #{$font-heading-fallback};
  --font-mono: #{$font-mono-fallback};

  --mono: 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
  --casl: 0; /* Casual: Linear to Casual */
  --wght: 400; /* Weight: 300 to 1000, Light to ExtraBlack – usually set with `font-weight` */
  --slnt: 0; /* Slant: 0 to -15 degrees */
  --ital: 0; /* Italic: always roman, auto, or always italic */
}
// html {
//   &.fonts-stage-1 {
//     --font-body: 'LiterataCritical', sans-serif;
//     --font-heading: 'JosefinSansCritical', sans-serif;
//     --font-mono: 'FiraCodeCritical', monospace;

//     @supports (font-variation-settings: 'wght' 700) {
//       &.fonts-stage-2 {
//         --font-body: 'Literata', 'LiterataCritical', sans-serif;
//         --font-heading: 'Josefin Sans', 'JosefinSansCritical', sans-serif;
//         --font-mono: 'Fira Code', 'FiraCodeCritical', monospace;
//       }
//     }
//   }
// }
html {
  font-family: $font-body-fallback;
  &.fonts-stage-1 {
    --font-body: #{$font-body-critical, $font-body-fallback};
    --font-heading: #{$font-heading-critical, $font-heading-fallback};
    --font-mono: #{$font-mono-critical, $font-mono-fallback};
  }
  @supports (font-variation-settings: 'wght' 700) {
    &.fonts-stage-2 {
      --font-body: #{$font-body, $font-body-critical, $font-body-fallback};
      --font-heading: #{$font-heading, $font-heading-critical,
        $font-heading-fallback};
      --font-mono: #{$font-mono, $font-mono-critical, $font-mono-fallback};
    }
  }
}

* {
  /* apply axis values with CSS custom properties */
  font-variation-settings: 'MONO' var(--mono), 'CASL' var(--casl),
    'wght' var(--wght), 'slnt' var(--slnt), 'ital' var(--ital);
  // font-family: 'Literata', serif;
  // font-family: var(--font-body, 'Literata', serif);
  font-family: var(--font-body);
  /* font-weight: 400;
  font-variation-settings: "wght" 450 */
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: var(--font-heading, 'Josefin Sans', sans-serif);
  font-weight: 700;
  --wght: 700;
  // --casl: 0.2;
  // --slnt: -2;
  font-family: var(--font-heading);
}

tt,
code,
kbd,
pre,
samp {
  // font-family: 'Fira Code', monospace;
  // font-family: var(--font-mono, 'Fira Code', monospace);
  --mono: 1;
  // --casl: 1;
  // --ital: 1;
  font-family: var(--font-mono);
}

// #template-global {
//   font-family: sans-serif;
// }
// .fonts-stage-1 #template-global {
//   font-family: JosefinSansCritical, sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }
// .fonts-stage-2 #template-global {
//   font-family: 'Josefin Sans', sans-serif;
// }
/* .fonts-stage-2 h1,
    .fonts-stage-2 strong {
      font-family: LatoBold, sans-serif;
      font-weight: 700;
    }
    .fonts-stage-2 em {
      font-family: LatoItalic, sans-serif;
      font-style: italic;
    }
    .fonts-stage-2 strong em,
    .fonts-stage-2 em strong {
      font-family: LatoBoldItalic, sans-serif;
      font-weight: 700;
      font-style: italic;
    } */
