// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Josefin+Sans:ital,wght@0,300..700;1,300..700&family=Literata:ital,wght@0,400..700;1,400..700&display=swap');
// NOTE: can use 'text' param in url
// abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ !:/;.,?-"'()éèàçêë€
// URL encoded becomes
// abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ%20%21%3A%2F%3B.%2C%3F-%22%27%28%29%C3%A9%C3%A8%C3%A0%C3%A7%C3%AA%C3%AB%E2%82%AC

:root {
  /* FONTS */
  /* --font-body: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-heading: "Barlow Condensed", "Helvetica", sans-serif;
  --font-monospace: "Menlo", "Courier", "Courier New", "Andale Mono", monospace; */
  --font-body: serif;
  --font-heading: sans-serif;
  --font-monospace: monospace;
}
html {
  &.fonts-stage-1 {
    --font-body: 'LiterataCritical', serif;
    --font-heading: 'JosefinSansCritical', sans-serif;
    --font-monospace: 'FiraCodeCritical', monospace;

    &.fonts-stage-2 {
      --font-body: 'Literata', 'LiterataCritical', serif;
      --font-heading: 'Josefin Sans', 'JosefinSansCritical', sans-serif;
      --font-monospace: 'Fira Code', 'FiraCodeCritical', monospace;
    }
  }
}

* {
  // font-family: 'Literata', serif;
  font-family: var(--font-body, 'Literata', serif);
  /* font-weight: 400;
  font-variation-settings: "wght" 450 */
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--font-heading, 'Josefin Sans', sans-serif);
}

tt,
code,
kbd,
pre,
samp {
  font-family: 'Fira Code', monospace;
  font-family: var(--font-monospace, 'Fira Code', monospace);
}

#template-global {
  font-family: sans-serif;
}
.fonts-stage-1 #template-global {
  font-family: JosefinSansCritical, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fonts-stage-2 #template-global {
  font-family: 'Josefin Sans', sans-serif;
}
/* .fonts-stage-2 h1,
    .fonts-stage-2 strong {
      font-family: LatoBold, sans-serif;
      font-weight: 700;
    }
    .fonts-stage-2 em {
      font-family: LatoItalic, sans-serif;
      font-style: italic;
    }
    .fonts-stage-2 strong em,
    .fonts-stage-2 em strong {
      font-family: LatoBoldItalic, sans-serif;
      font-weight: 700;
      font-style: italic;
    } */
