$font-body: 'Open Sans'; // 'Literata', 'Recursive'
$font-body-critical: sans-serif; // 'LiterataCritical'
$font-body-fallback: sans-serif;
$font-heading: 'Josefin Sans'; // 'Josefin Sans', 'Recursive'
$font-heading-critical: 'JosefinSansCritical'; // 'JosefinSansCritical', 'RecursiveCritical'
$font-heading-fallback: sans-serif;
$font-mono: monospace; // 'Fira Code', 'Recursive'
$font-mono-critical: monospace; // 'FiraCodeCritical'
$font-mono-fallback: monospace;
