:root {
  /* --- FONTS --- */
  --font-body-prefered: env(--font-body-prefered);
  --font-body-critical: env(--font-body-critical);
  --font-body-fallback: env(--font-body-fallback);
  --font-heading-prefered: env(--font-heading-prefered);
  --font-heading-critical: env(--font-heading-critical);
  --font-heading-fallback: env(--font-heading-fallback);
  --font-mono-prefered: env(--font-mono-prefered);
  --font-mono-critical: env(--font-mono-critical);
  --font-mono-fallback: env(--font-mono-fallback);

  /* --- SIZES --- */
  --measure-text: env(--measure-text);

  --size-base-px: env(--size-base-px); /* unitless px value (if necessary) */
  /* unitless px value of max size cross site (if necessary) */
  --size-max-px: env(--size-max-px);
  --size-scale-steps: env(--size-scale-steps);
  --size-base: calc(var(--size-base-px) / 16); /* unitless rem value */
  /* can be computed by (maxSize / baseSize) ** (1 / steps) */
  /* (baseSize = 16, maxSize = 100, steps = 12) => 1.16499 */
  /* --size-scale-ratio: sizeScaleRatio(); */
  --size-scale-ratio: env(--size-scale-ratio);

  --size-lock-screen-min: env(--size-lock-screen-min);
  --size-lock-screen-max: env(--size-lock-screen-max);
  /* TODO: does not work */
  /* --fluid-min-screen-px: 400;
    --fluid-min-screen: calc(var(--fluid-min-screen-px) / var(--size-base-px));
    --fluid-max-screen-px: 600;
    --fluid-max-screen: calc(var(--fluid-max-screen-px) / (var(--size-base-max) * var(--size-base-px))); */
}

@custom-selector :--h1 h1, h1 *, .h1, .h1 *;
@custom-selector :--h2 h2, h2 *, .h2, .h2 *;
@custom-selector :--h3 h3, h3 *, .h3, .h3 *;
@custom-selector :--h4 h4, h4 *, .h4, .h4 *;
@custom-selector :--h5 h5, h5 *, .h5, .h5 *;
@custom-selector :--h6 h6, h6 *, .h6, .h6 *;
@custom-selector :--headings :--h1, :--h2, :--h3, :--h4, :--h5, :--h6;
@custom-selector :--code tt, code, kbd, pre, samp;
@custom-selector :--strong strong, .strong, b, .b, .bold;
@custom-selector :--bold :--strong;
@custom-selector :--em em, .em;

/* :--headings {
  color: env(--main-color) !important;
} */

/* @mixin border; */
