:root {
  --font-body-prefered: 'Open Sans'; /* 'Literata', 'Recursive' */
  --font-body-critical: sans-serif; /* 'LiterataCritical' */
  --font-body-fallback: sans-serif;
  --font-heading-prefered: 'Josefin Sans'; /* 'Josefin Sans', 'Recursive' */
  --font-heading-critical: 'JosefinSansCritical'; /* 'JosefinSansCritical', 'RecursiveCritical' */
  --font-heading-fallback: sans-serif;
  --font-mono-prefered: monospace; /* 'Fira Code', 'Recursive' */
  --font-mono-critical: monospace; /* 'FiraCodeCritical' */
  --font-mono-fallback: monospace;

  /* --measure-text: 65ch; */
  --measure-text: 38rem;

  --size-base-px: 16; /* unitless px value (if necessary) */
  --size-base: calc(var(--size-base-px) / 16); /* unitless rem value */
  /* --size-max-px: 100; */
  /* --size-scale-steps: 12; */
  /* --size-scale-ratio: 1.165; */
  /* can be computed by (maxSize / baseSize) ** (1 / steps) */
  /* (baseSize = 16, maxSize = 100, steps = 12) */
  --size-scale-ratio: sizeScaleRatio();
}

@custom-selector :--h1 h1, h1 *, .h1, .h1 *;
@custom-selector :--h2 h2, h2 *, .h2, .h2 *;
@custom-selector :--h3 h3, h3 *, .h3, .h3 *;
@custom-selector :--h4 h4, h4 *, .h4, .h4 *;
@custom-selector :--h5 h5, h5 *, .h5, .h5 *;
@custom-selector :--h6 h6, h6 *, .h6, .h6 *;
@custom-selector :--headings :--h1, :--h2, :--h3, :--h4, :--h5, :--h6;
@custom-selector :--code tt, code, kbd, pre, samp;
@custom-selector :--bold strong, .strong, b, .b, .bold;
@custom-selector :--strong :--bold;
@custom-selector :--em em, .em;

/* :--headings {
  color: color(color, orange);
} */

/* @mixin border; */
